<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>hike name</th>
      <th>description</th>
      <th>difficulty</th>
      <th>length (km)</th>
      <th>elevation</th>
    </tr>
  </thead>
  <tbody>
    {{#each location.hikes}}
      <tr>
        <td>
          {{hikeName}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{difficulty}}
        </td>
        <td>
          {{length}}km
        </td>
        <td>
          {{elevation}}
        </td>
        <td>
          <a href="/location/{{../location._id}}/deletehike/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>